@use "../../../sass/abstract/" as *;

.cards {
    width: 32.1% !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 10px !important;
    height: auto !important;
    display: flex;
    // align-items: center;
    // justify-content: center;
    flex-direction: column;
    // text-align: center;
}

.dashobard-images {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10%;
}

.type-btn {
    background-color: cyan;
    width: 120px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 0px;
}
