@use "../../../sass/abstract/" as *;

.card {
    width: 25% !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 10px !important;
    height: auto !important;
    display: flex;

    flex-direction: column;
}

.activecard {
    width: 25% !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #ffdab4;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 10px !important;
    height: auto !important;
    display: flex;

    flex-direction: column;
}
